<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"> 
           <mat-icon>home</mat-icon> Main page</a>
      <a mat-list-item href="#"> 
        <mat-icon>class</mat-icon> Your Activity</a>
      <a mat-list-item href="#">
        <mat-icon>announcement</mat-icon> Enroll Status</a>        
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>projectEnrollAJdto</span>
      <div>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <mat-search-bar>search</mat-search-bar>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dash></app-dash>
  </mat-sidenav-content>
</mat-sidenav-container>
